html {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #3effd5;
  background-color: #0c2028;
}
@media (min-width: 50em) and (min-width: 70vh) {
  body {
    display: flex;
    direction: rtl;
    border-left: solid 7px;
    align-items: flex-start;
  }
  header {
    font-weight: 100;
    font-size: 9.5vh;
    writing-mode: vertical-rl;
    direction: initial;
    position: fixed;
    top: 0;
    height: 100vh;
    text-align: center;
  }
  nav {
    flex: 4;
    display: flex;
    direction: initial;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin: 1%;
    margin-right: 15vh;
  }
  .local {
    flex: 3;
  }
  .global {
    flex: 2;
  }
  main {
    direction: initial;
    flex: 5;
  }
  article {
    margin: 2%;
    width: calc(55% + 11rem);
  }
  @media (max-width: 90em) {
    main {
      flex: 12;
    }
    article {
      width: calc(70% + 5rem);
    }
    nav {
      flex-direction: column;
      align-items: stretch;
    }
  }
}
@media (max-width: 49.99em), (max-width: 69.99vh) {
  header {
    font-weight: 200;
    font-size: 9.25vw;
    text-align: center;
  }
  .global {
    display: flex;
  }
  .global > li {
    flex: 1;
    text-align: center;
    font-size: calc(0.2rem + 3vw);
  }
  .global li + li:before {
    content: "|";
    position: relative;
    left: -25%;
  }
}
ol > li {
  margin-top: 1em;
}
ul li + li {
  margin-top: 0.5rem;
}
ul > li {
  list-style-type: "· ";
  margin-left: 1rem;
}
.global > li {
  list-style-type: none;
}
nav ul {
  margin: 0.5rem;
  padding: 0.5rem;
}
.global li a, .global li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.local li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
}
.global {
  color: #0c2028;
  background-color: #3effd5;
}
.local {
  border: solid 2px #3effd5;
}
.empty {
  border: none;
}
a {
  color: #3effd5;
}
a:hover {
  text-decoration: none;
}
.global a {
  text-decoration: none;
  color: #0c2028;
}
.global a:hover, .global .p_actual {
  color: #3effd5;
  background-color: #0c2028;
}
header > a:hover {
  color: #0c2028;
  background-color: #3effd5;
}
a:active, header > a:active, .global a:active {
  color: #cccc00;
}
